<div class='container'>
  <h1 class='display-3'>COVID-19 Azores</h1>
  <Snapshot @data={{model}} />
  <h2 class='light'>Total Cases</h2>
  <TotalCasesChart @data={{model}} />
  <h2 class='light'>Daily Cases</h2>
  <DailyCasesChart @data={{model}} />
</div>
